/* Reset default margin and padding for the entire page */
body,
h1,
h2,
h3,
p,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply custom styles to the slider */
.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #0d0620;
}
li a {
  text-decoration: none;
}
.video-player-wrapper {
  width: 100vw !important;
  height: 100vh !important;
}
.google-btn {
  width: 100% !important;
}
.footer {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.carousel-indicators {
  display: none !important;
}
.fooer-Img {
  width: 100%;
  height: 26vh;
  background-image: url(./Assets//Images/footer-bg-item.png);
}
.fooer-Img ul {
  display: flex;
  width: 30vw;
  /* border: 1px solid; */
  justify-content: space-between;
  margin-left: 350px;
  margin-top: 50px;
}
.fooer-Img li {
  text-decoration: none;
  list-style: none;
}
.fooer-Img li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.login-Bg {
  background-image: url(../src/Assets/Images/login-signup-bg-img.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.2;
}
.signup-Bg {
  background-image: url(../src/Assets/Images/login-signup-bg-img.jpg);
  background-size: cover;
  opacity: 0.9;
}
.ql-container.ql-snow {
  border: none !important;
}
.signup-Bg {
  width: 100%;
}
.labelTextColor {
  color: white;
}



 /* Live button */
 .animation-container {
  display: inline-block;
  position: relative;
}

.circular-div {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 1px;
  font-size: 10px;
  display: inline-block;
  animation: fadeIn 1s ease-in-out infinite; /* Add 'infinite' for an infinite animation */
  opacity: 0; /* Start with opacity set to 0 */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5; /* Optional: Set a mid-point opacity value if desired */
  }
  100% {
    opacity: 1;
  }
}

 @media screen and (max-width: 2600px) {
 
  .red-bar{
    width: 12.7vw;
  }
  /* .teamOtherCards{
    margin-right: -200px;
  } */
  .Cardslider{
   width: 65% !important;
  
  }
  .nfl-view{
    margin-top: 50px;
  }
  .live{
    position: relative;
    left: 40%;
    margin-top: -40px;
  }
  .end{
    position: relative;
    margin-left: 10px;
  }
 
  /* .container{
    padding-left:20px ;
  } */
  .dash-headd{
    width: 75vw;
  }

  .mainSlider {
    margin-top: 20px !important;
    height: 49vh !important;
  }
  .sliderHeader {
    width: 65%;
  }
  .ended{
    margin-top: -50px;
    margin-left: 0px;
  }
  .tem-img-box {
    width: 10vw;
    padding-top: 0px;
    margin-left: -75px;
    margin-top: -5px;
  }
  .team-img-box {
    width: 12vw;
    margin-left: -65px;
  }
}
@media screen and (max-width: 1980px) {
  .red-bar{
    width: 14.4vw;
  }
  .Cardslider {
    width: 73% !important;
  }
  .sliderHeader {
    width: 73%;
  }
  .end{
    position: relative;
    margin-left: 10px;
  }
  .dash-headd{
    width: 82vw;
  }

  .watch-img {
    width: 67vw;
  }
  .live-head {
    width: 67vw;
    border: 1px solid;
  }
  .banner-slidess {
    width: 68%;
  }
  .mainSlider {
    margin-top: 20px !important;
  }
 
  .tem-img-box{
    width: 12vw;
    padding-top: 0px;
    margin-left: -85px;
    margin-top: -5px;
    
   }
   .ended{
    margin-left: 0px;
   }
}

@media screen and (max-width: 1000px) {
  .AdminBarLogo {
    display: none;
  }
  .nav-sider {
    border: 0px;
  }
  .mainSlider {
    margin-top: 20px !important;
    height: 40vh !important;
  }
 
  .sliderHeader{
    width: 100% ;

  }
  .tem-img-box {
    padding-top: 0px;
    padding-left: 8px;
    padding-right: 8px;
   }
  
  .tem-img{
    margin-top: -10px;
  }
  .dash-headd {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headd {
    width: 25vw;
    margin-top: 10px;
  }
  .live{
    position: relative;
    left: 30%;
    margin-top: -40px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.container1 {
  width: 43vmin;
  height: 18vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: #1c1c1e;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 85vw;
  }
  .container1 {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }
  .footer-goole-img {
    height: 0px;
    margin-top: -20px;
  }
  .container {
    padding-left: 10px !important;
  }

  .google-btnn {
    width: 120px;
    height: 40px;
  }
  .history-table {
    padding: 10px;
    width: 60vw;
  }
  .container1 {
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  }
}
.headd {
  width: 25vw;
  margin-top: 10px;
}

@media screen and (max-width: 380px) {
  .banner-Buttons {
    margin-left: 0;
    margin: auto;
    position: relative;
    top: 20% !important;
   left: 0%;
   display: flex;
   flex-direction: column;
   }

 .cardd{
  width: 100px !important;
  height: 30px !important;
 }
.pay-cardd{
  width: 100vw !important;

}  
.new-footer-box{
  width: 100vw;
}
.pay-cardds{
  width: 93vw !important;
  height: 30vh;

}
.pay-card-box{
  width: 98vw;
  padding: 10;
}
.coupan-btn{
  margin-top: 10px;
}
.tem-icons{
  height: 35px !important;
  width:35px !important ;
  /* margin-left: -20px; */
}
.tem-img-box{
  width: 100%;
}

}

  .dropdownActionButton {
    width: 250px !important;
  }
  .cardd {
    width: 100px !important;
    height: 30px !important;
  }
  .pay-cardd {
    width: 100vw !important;
  }
  .endedd {
    margin-left: 60px;
    margin-top: -20px !important;
  }
  .new-footer-box {
    width: 100vw;
  }
  .pay-cardds {
    width: 93vw !important;
    height: 30vh;
  }
  .pay-card-box {
    width: 98vw;
    padding: 10;
  }
  .coupan-btn {
    margin-top: 10px;
  }
  .tem-icons {
    height: 35px !important;
    width: 35px !important ;
    /* margin-left: -20px; */
  }
  .tem-img-box {
    width: 100%;
  }


@media screen and (max-width: 480px) {
  .card-con {
    width: 90vw !important;
  }
  .wrapper {
    gap: 15px;
  }
  .headd {
    width: 38vw;
    margin-top: 10px;
  }
  .container1 {
    width: 70%;
    height: 25vmin;
    font-size: 8px;
  }
  .banner-text {
    left: 24% !important;
    font-size: 24px !important;
    width: 25% !important;
    text-align: center !important;
    margin-top: 20px;
    text-shadow: -1px 4px 2px rgba(0, 0, 0, 0.6);
  }
  .banner-textt {
    width: 100%;
    font-size: 20px;
    text-shadow: -1px 4px 2px rgba(0, 0, 0, 0.6);
    margin-left: 10px;
  }
  .sidebar-toggle {
    display: none;
  }
  .side-icon {
    display: none;
  }
  .admin-dash {
    left: 0% !important;
  }
  .tvChannel-head {
    width: 100% !important;
    height: 23vh !important;
  }
  .Category-Filter {
    width: 250px !important;
  }
  .search-title {
    width: 250px !important;
  }
  .Add-tv {
    width: 100px;
    height: 5vh !important;
  }
  .search-transactions {
    width: 450px !important;
    border: 1px solid;
    margin-bottom: 10px;
  }

  .input-feild {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 73vw;
  }
  .input-feild-image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .input-feild-label {
    min-width: 50vw;
  }
  .edit-con {
    padding: 1rem;
    padding-left: 0.7rem;
  }
  .input-feild-drop {
    width: 75vw;
  }
  .main-user-container {
    display: flex;
    flex-direction: column;
  }
  .user-edit {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .user-info {
    width: 100%;
    padding: 0;
    margin-top: 10px;
  }
  .active-user-btn {
    margin-left: -50px;
  }
  .Useredit-side {
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }
  .user-transaction {
    margin-top: 10px;
  }
  .sub-type {
    width: auto;
    border: 1px solid;
    justify-content: space-around;
  }
  .main-page {
    flex-direction: column;
  }
  .left-side {
    width: 100%;
  }
  .signup-Bg {
    width: 100%;
  }
  .signup h1 {
    width: 80% !important;
    font-size: 26px !important;
  }

  /* .banner-Buttons{
  margin-left: 0;
  margin-top: -20px !important;
  margin: auto;
  position: relative;
  top: -30% ;
 left: 30%;
 display: flex;
 flex-direction: column;
 } */
  .post-Button {
    margin-left: 0px !important;
    margin-top: 10px;
  }
  .footer-flex {
    display: flex;
    flex-direction: column;
  }
  .footer {
    height: max-content;
  }
  .footer-title {
    font-size: 20px;
  }
  .box {
    margin-left: 15px;
  }
  .search-bar-for-transaction {
    width: 93% !important;
  }
}

@media screen and (max-width: 769px) {
  .main-profile-img{
    margin: auto;
  }
  .Edit-container {
    display: flex;
    flex-direction: column;
  }
  .live{
    position: relative;
    left: 26%;
    margin-top: -34px;
  }
  .end{
    position: relative;
    left: 10%;
  }
  .detail-live-end{
    margin-top: 0px;
    position: relative;
    margin-left: 50px !important ;
    top: 5%;
  }
  .left{
    width: 100%;
  }
  .team-icons{
    margin-left: 0px !important;

  }
}
.input-feild{
  .left {
    width: 100%;
  }
  .input-feild {
    width: 75vw;
  }
  .banner-sliders{
    width: 60%;
    border: 1px solid;

  }
  .input-feild-label {
    width: 20vw;
  }
  .banner-Buttons {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 55%;
    display: flex;
    margin-left: 10px;
    margin-top: 55px;
  }
  .team-namess {
    display: none;
    margin-top: -10px;
  }

   
  
  .post-Button {
    margin-top: 0px !important;
    width: 100px !important;
    height: 35px !important;
    margin-left: 5px;
  }
  .pre-Button {
    margin-top: 0px !important;
    width: 100px !important;
    height: 35px !important;
  }
  .save-btn {
    margin-left: 450px;
  }
  .edit-con {
    left: 10%;
  }
  .layer-icon {
    display: block;
  }
  .main-page {
    flex-direction: column !important;
  }
  .left-side {
    width: 100%;
    height: 50vh;
  }
  .signup-Bg {
    width: 100%;
    height: 40vh;
  }
  .signup {
    width: 100%;
    height: 40vh;
  }
  .signup img {
    margin-top: 30px;
  }
  .signup h1 {
    width: 50%;
    font-size: 30px;
  }
  .right-side {
    width: 100%;
    height: 100vh;
    background-color: white;
  }

  /* .banner-Buttons{
    margin-left: 210px ;
    margin-top: -10px;
    margin: auto;
    width: 34vw !important;
    position: relative;
    top: -20%;
   } */
  .mainSlider {
    height: 58vh !important;
  }
  .sliderHeader {
    width: 95% !important;
  }
  .card-con {
    width: 90vw !important;
  }
  .contact-form {
    flex-direction: column;
    width: 100%;
  }
  .footer {
    height: max-content;
  }
  .Add-tv {
    width: 120px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px !important;
  }
  .banner-text {
    margin-left: 500px;
    font-size: 38px;
    margin-left: 35px;
    /* width: 25% !important; */
    text-align: center;
    margin-top: -9%;
    text-shadow: -1px 4px 2px rgba(0, 0, 0, 0.6);
  }
}
@media screen and (max-width: 430px) {
  .tem-p {
    font-size: 10px !important;
  }
  .input-label1{
    width: 76vw;
  }
  .bg-tab-mb{
    height: 27vh !important;
  }
  .userhisotryy{
    width: 100%;
    height: 50vh;
    background-color: red;
  }
  .main-user-container{
    width: 106vw;
    left: 4% !important;
  }
  .user-info{
    padding: 0 !important;
  }

  .address-ip{
    max-width: 45vw;
    min-height:10vh ;
  }
  .edit-con{
    left: 7% !important;
  }
  .left{
    width: 100% !important;
  }
  .tv-logo{
    width: 17vw;
  }
  .deatil-container{
    height: 30vh;
    margin-top: 0px !important;
  }
  .live{
    position: relative;
    left: 8%;
    margin-top: -40px;
  }
  .detail-live-end{
    margin-top: -10px;
    position: relative;
    /* margin-left: 40px ; */
    left: -10% ;
    top:-20%;
  }
  .tem-img{
    width: 35px !important;
    height: 35px !important;
  }
  .edit-con {
    width: 100vw;
  }
  .edit-contain {
    margin-left: -30px;
  }
  
  .team-namess {
    display: none;
    margin-top: 32px;
  }
  .history-div {
    width: 95%;
  }
  .watch-img {
    height: 35vh !important;
  }
  .text-footer a {
    font-size: 11px;
  }
  .text-footer {
    width: 92vw !important;
  }
  .google-btnn {
    width: 120px;
    height: 40px;
  }
  .app-btn {
    width: 90vw !important;
  }
  .tem-img-box {
    width: 35vw;
    padding-top: 0px;
    padding-left: 20px;
    margin-left: 0px;
    margin-top: -4px;
  }
  .ended {
    /* margin-left: 70px; */
    margin-top: -45px !important  ;
    left: 20%;
  }
}
@media screen and (max-width: 420px) {
  .banner-text {
    margin-top: -14% !important;
  }
 
    .detail-live-end{
      margin-top: -10px;
      position: relative;
      /* margin-left: 40px ; */
      left: 0% ;
      top:-20%;
    }
  .watch-img{
    height: 35vh !important;
 
  }
  .watch-img {
    height: 35vh !important;
  }
  .tem-icons {
    height: 30px !important;
    width: 30px !important ;
    /* margin-left: -20px; */
  }
  .palceandtimeheight {
    height: 5vh;
  }
  .dash-card {
    width: 100vw;
    height: 30vh !important;
    margin-right: 10px;
  }
  .dash-main {
    width: 100%;
    padding: 10px;
  }
  .bg-imgg {
    width: 100vw;
    height: 28vh;
  }
  .tem-p {
    font-size: 10px !important;
  }
  .banner-Buttons {
    width: 52vw !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 55% !important;
    display: flex;
    margin-left: 10px;
    margin-top: 55px;
  }
  .history-table {
    padding: 10px;
    width: 100vw !important;
    margin-bottom: 10px;
  }
  .post-Button {
    margin-top: 0px !important;
    width: 100px !important;
    height: 35px !important;
  }
  .pre-Button {
    margin-top: 0px !important;
    width: 100px !important;
    height: 35px !important;
  }
  .sliderHeader {
    width: 99% !important;
  }
  .tem-img-box {
    padding-top: 0px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .tem-img {
    margin-top: -10px;
  }
  .card-slider1 {
    width: 200.5px !important;
    height: 100px !important;
  }
  .banner-slidess {
    width: 95vw;
  }
  .banner-slide-card {
    padding: 0;
    margin-left: 0;
    width: 128vw !important;
  }
  .bg-img {
    height: 30vh;
   }
   .ended{
    margin-top: -75px;

    left: -2%;
  }
}
@media screen and (max-width: 380px) {
  .banner-Buttons {
    width: 55vw !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 55% !important;
    display: flex;
    margin-left: 10px;
    margin-top: 55px;
    
   }
   .live{
    position: relative;
    left: 6%;
    margin-top: -40px;
  }
   .detail-live-end{
    margin-top: -10px;
    position: relative;
    /* margin-left: 40px ; */
    left: 0% ;
    top:35%;
  }

  .post-Button {
    margin-top: 0px !important;
    width: 100px !important;
    height: 33px !important;
  }
  .pre-Button {
    margin-top: 0px !important;
    width: 100px !important;
    height: 35px !important;
  }
  .google-btnn {
    width: 120px;
    height: 40px;

   }
   .team-namess {
    display: none;
    margin-top: 33px !important;
  }
   .text-footer a{
    font-size: 11px;
  }
  .footer-copy {
    margin-top: 10px !important;
  }
  .banner-text {
    margin-top: -14% !important;
  }
  /* .app-btn{
    margin-top: 30px !important;
  } */
  .tem-p {
    font-size: 10px !important;
  }
  .pay-texts {
    width: 100vw;
    margin-left: -80px;
  }
  .plan-page-text {
    width: 100vw;
    padding: 20px;
  }
  .card-match {
    margin-left: -4px !important;
  }

  .team-icons {
    height: 45px !important;
  }
  .img-icon {
    width: 12px;
    height: 12px;
  }
  .headd {
    width: 43vw !important;
    margin-top: 10px;
  }
  .mbl-bg-img {
    height: 25vh !important;
  }
  .team-p {
    font-size: 16px;
  }
  .tem-img-box {
    width: 40vw;
    padding-top: 0px;
    padding-left: 20px;
    margin-left: 0px;
    margin-top: -4px;
  }
}
@media screen and (max-width: 650px) {
  .tem-img-box {
    padding-top: 0px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .ended {
    margin-top: -55px;
    margin-left: 50px;
  }
  .tem-img {
    margin-top: -10px;
  }
}
@media screen and (max-width: 540px) {
  .footer-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .app-btn {
    width: 100%;
    justify-content: space-between;
  }
  .headd {
    width: 35vw;
    margin-top: 10px;
  }
  .search-transactions {
    margin-bottom: 10px;
  }
  .watch-img {
    width: 100vw;
    height: 50vh;
  }
  .sidddee {
    height: 7vh;
    border: 1px solid;
  }
  .layer-icon {
    display: none !important;
  }
  .side-icon {
    display: none;
  }
  .tvChannel-head {
    width: 100% !important;
    height: 25vh !important;
  }
  .Add-tv {
    width: 120px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px !important;
  }
}
@media screen and (max-width: 920px) {
  .signup-Bg {
    width: 100%;
    /* height: 50vh; */
  }
  .card-con {
    width: 90vw !important;
  }
  .nfl-view{
    margin-top: 0px;
  }
  .bg-tab-mb{
    height: 32vh;
  }
  .end{
    position: relative;
    margin-left: 40px;
  }
  .card-live-end{
    position: relative;
  }
  .detail-live-end{
    margin-top: 0px;
    position: relative;
    margin-left: -50px ;
  }
  .team-namess {
    display: none;
    margin-top: -10px;
  }
  .team-icons{
    margin-left: -80px;

  }
  .watch-img{
    width: 95vw;
  }
  .footer-flex {
    flex-direction: column;
    width: 100vw;
  }
  .text-footer {
    width: 69vw;
  }
  .google-btnn {
    width: 120px;
    height: 40px;
  }
  .app-btn {
    width: 74vw;
    justify-content: flex-start;
  }
  .history-table {
    padding: 10px;
    width: 68vw;
  }
  .dash-card {
    width: 100vw;
    height: 22vh;
    margin-right: 10px;
  }
  .dash-main {
    width: 100%;
    padding: 10px;
  }
  .sliderHeader {
    width: 100%;
  }
 
  .footer-goole-img{
    height: 0px;
    margin-top: -20px;
  }
  .pay-cards {
    justify-content: center;
  }
  .contact-form {
    flex-direction: column;
  }
  .contact-feild {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact-info {
    width: 100%;
  }
  .admin-dash {
    position: relative;
    left: 7% !important;
  }
  .dash-card {
    margin-left: 13px;
  }
  .banner-text {
    margin-left: 150px;
    font-size: 38px;
    /* width: 25% !important; */
    text-align: center;
    margin-top: -9%;
    text-shadow: -1px 4px 2px rgba(0, 0, 0, 0.6);
  }
  .banner-Buttons {
    width: 27vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 62%;
    display: flex;
    margin-left: 10px;
    margin-top: 55px;
  }
  .post-Button {
    margin-top: 0px !important;
    width: 100px !important;
    height: 35px !important;
  }
  .pre-Button {
    margin-top: 0px !important;
    width: 100px !important;
    height: 35px !important;
  }
  .layer-icon {
    display: block;
    margin-top: 10px;
  }
  .side-icon {
    width: 6vw !important;
  }
  .footer {
    height: max-content;
  }
  .tvChannel-head {
    width: 100% !important;
    height: 10vh;
  }
  .Category-Filter {
    width: 200px !important;
    margin-left: 20px;
  }
  .search-title {
    width: 200px;
    margin-left: 20px;
  }
  .Add-tv {
    width: 120px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px !important;
  }
  .table-search-user {
    margin-top: 10px !important;
  }
  .banner-slidess {
    width: 95vw;

    height: 32vh;
  }
  .banner-slide-card {
    padding: 0;
    margin-left: 0;
    width: 128vw !important;
  }
  .live-head {
    width: 95vw;
  }
}
@media screen and (max-width: 920px) {
  .layer-icon {
    display: block;
    margin-top: 10px;
  }
  .side-icon {
    width: 5.5vw !important;
  }
  .box {
    left: 12% !important;
  }
  .Category-Filter {
    width: 220px !important;
    margin-left: 20px;
  }
  .admin-dash {
    position: relative;
    left: 6.5% !important;
  }
  .dash-card {
    margin-left: 13px;
  }
  .search-title {
    width: 280px;
    margin-left: 20px;
    margin-top: 10px !important;
  }
  .Add-tv {
    width: 120px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px !important;
  }
  .tem-img-box {
    padding-top: 0px;
    padding-left: 8px;
    padding-right: 8px;
   }
   .ended{
    margin-top: -40px;
    margin-left: 20px;
  }
  .tem-img {
    margin-top: -10px;
  }
}