.cardSlider {
  width: 260.5px !important;
  height: 140px !important;
  // background: rgb(9, 121, 116);
  // background: linear-gradient(
  //   -60deg,
  //   rgb(104, 121, 9) 50%,
  //   rgb(255, 0, 157) 50%
  // );
}
.card-Slider {
  background: rgb(9, 121, 116);
}
.card-slider{
  width: 280.5px !important;
  height: 140px !important;

}
.Cardslider {
  .splide__arrow {
    width: 30px !important;
    height: 30px !important;
    opacity: 1 !important;
    background-image: linear-gradient(to right, #00c4ff, #0074ff);
  }
  .splide__arrow--prev svg,
  .splide__arrow--next svg {
    fill: white !important;
    height: 12px !important;
    width: 12px !important;
  }
  .splide__arrow--next {
    margin-right: 15px !important;
    // display: none;
  }
}
