.logo{
  width: 145px;
  height: 35px;
}
a:hover{
    text-decoration: none;
    color: rgb(25, 5, 204);
}
  
  li:hover a::before,
  li:active a::before {
    background-color: rgb(73, 73, 250);
  }
.active {
    /* width: 70px; */
    border-bottom: 3px solid rgb(73, 73, 250);
    color: rgb(25, 5, 204);
    cursor: pointer;
    
  }
.nav-Btn:hover{
    background-color:rgb(228, 167, 2);
    transition: 0.3s ease-in-out;
    
}
.Sub-Icon{
  width: 40px;
  height: 35px;
  background-color: rgb(228, 167, 2);

  
}
.Sub-Icon:hover{
  background-color: rgb(73, 73, 250);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  
}
.search-Icon{
  width: 35px;
  height: 35px;
  background-color: rgb(73, 73, 250);

}

.search-Icon:hover{
    background-color: rgb(228, 167, 2);
    transition: 0.3s ease-in-out;
    cursor: pointer;

}
.nav-Icons{
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  
}
.triangle{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 30px;
  height: 3vh;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.dropdown{

  margin-left: -140px;
  width: 200px;
  height: 17vh;
  margin-top: 20px;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2;


}

.dropdown-content a{
  color: grey;
  width: 100%;
  border-bottom: 1px solid grey;

}

.css-6hp17o-MuiList-root-MuiMenu-list {
      background-color: #00022b;
}

/* Media Querry */
@media screen and (max-width: 480px) {
  .logo {
   width: 100px;
   height: 30px;
  }
}

    
    